<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Title --}}
  {{#if title}}
  <title>{{title}}</title>
  {{/if}}

  {{!-- Meta --}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!--TODO description, image, url, theme-color, author --}}

  <link rel="shortcut icon" href="{{>URL}}/public/favicon.png" />

  {{!-- Global styles --}}
  {{>STYLE name="global"}}

  {{!-- Development mode script --}}
  {{>DEV_SCRIPT}}
</head>

<body>
  {{> @partial-block }}
</body>

</html>