{{#>partials/boilerplate title="Index Page"}}
<h1>
  This is the index page!
</h1>
<br />
Test data: '{{test}}'
<br />
My partial: {{>partials/my_partial}}
<br />
<span class="red">this should be red</span>

<div>
  <h2>Links</h2>
  {{#>LINK to="hello"}} Hello! {{/LINK}}
  <br />
  {{#>LINK to="hello/again"}} Hello again! {{/LINK}}
  <hr />

  <h2>Posts</h2>
  {{#each posts}}
  {{#with this}}
  {{!-- 'LINK' partial does not work here... --}}
  <a href="./post/{{[0]}}">{{[1]}}</a> - <em>from {{[2]}}</em>
  <br />
  {{/with}}
  {{/each}}
  <hr />

  {{#>LINK to="plain"}} Page without template {{/LINK}}

  <hr />

</div>

Here is an image:
<img src="{{>URL}}/public/favicon.png" />
{{/partials/boilerplate}}