{{#>partials/boilerplate title="Index Page"}}
<h1>
  This is the index page!
</h1>
<br />
Test data: '{{test}}'
<br />
My partial: {{>partials/my_partial}}
<br />
<span class="red">this should be red</span>

<div>
  <h2>Links</h2>
  <a href="./hello.html">Hello!</a>
  <br />
  <a href="./hello/again.html">Hello again!</a>
  <hr />

  <h2>Posts</h2>
  {{#each posts}}
  {{#with this}}
  <a href="./post/{{[0]}}.html">{{[1]}}</a> - <em>from {{[2]}}</em>
  <br />
  {{/with}}
  {{/each}}
  <hr />
</div>

Here is an image:
<img src="{{>PUBLIC_URL}}/public/favicon.png" />
{{/partials/boilerplate}}