{{#>partials/boilerplate title="Post"}}
{{>STYLE name="posts/styles"}}

<h1>
  Post page.
</h1>
<br />
<div class="content">
  Posted: {{day}}
  <br />
  Post content: {{content}}
</div>
{{/partials/boilerplate}}