{{#>partials/boilerplate title="Post"}}
<link rel="stylesheet" href="{{>URL}}/styles/posts/styles.css" />

<h1>
  Post page.
</h1>
<br />
<div class="content">
  Posted: {{day}}
  <br />
  Post content: {{content}}
</div>
{{/partials/boilerplate}}